<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="row">
      <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label :title %>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :title, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label :description %>
        </div>
        <div class="col-xs-8">
          <%= f.text_area :description, rows: 10, class: "form-control" %>
        </div>
      </div>
    </div>
    <div>
      <div class="form-group">
        <div class="col-xs-offset-2">
          <%= f.submit class: "btn btn-default"%>
        </div>
      </div>
    </div>
    <% end %>

    <br>

    <div class="col-xs-offset-2">
      [ <%= link_to "cancel request", articles_path %> ]
    </div>
  </div>
</div>
