<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="row">
      <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label :username %>
        </div>
        <div class="col-xs-8">
          <%= f.text_field :username, class: "form-control", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label :email %>
        </div>
        <div class="col-xs-8">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-xs-2">
          <%= f.label :password %>
        </div>
        <div class="col-xs-8">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>

    <div>
      <div class="form-group">
        <div class="col-xs-offset-2">
          <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-default")%>
        </div>
      </div>
    </div>
    <% end %>

    <br>

    <div class="col-xs-offset-2">
      [ <%= link_to "cancel request", root_path %> ]
    </div>
  </div>
</div>
